n8n/workflows/rag-consultas.json
{
  "name": "RAG Consultas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Consulta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "chatInput",
              "value": "={{ $json.body.pregunta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Pregunta (chatInput)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0]
    },
    {
      "parameters": {},
      "name": "QA Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "model": "mistral"
      },
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {},
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "options": {},
        "collectionName": "documentos_educativos"
      },
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [600, 400]
    },
    {
      "parameters": {
        "model": "nomic-embed-text"
      },
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [600, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO consultas_rag (pregunta, respuesta, documentos_usados) VALUES ($1, $2, '{}');",
        "options": {
          "queryParameters": "={{ $json.chatInput }},{{ $json.text }}"
        }
      },
      "name": "Guardar Consulta Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook Consulta": {
      "main": [
        [
          {
            "node": "Preparar Pregunta (chatInput)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pregunta (chatInput)": {
      "main": [
        [
          {
            "node": "QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Chain": {
      "main": [
        [
          {
            "node": "Guardar Consulta Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "QA Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "QA Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
